# blueos dev toolchains
# need to install direnv
paths=(
    "/opt/sysroot/usr/local/bin"
    "/opt/sysroot/usr/local/lib/rustlib/x86_64-unknown-linux-gnu/bin"
    "/opt/arm-gnu-toolchain-14.2.rel1-x86_64-arm-none-eabi/bin"
    "/opt/arm-gnu-toolchain-14.2.rel1-x86_64-aarch64-none-elf/bin"
    "/opt/xpack-riscv-none-elf-gcc-14.2.0-3/bin"
    "/opt/skywalking-license-eye-0.7.0-bin/bin/linux"
    "/opt/qemu/usr/local/bin"
)
export PATH="$(IFS=:; echo "${paths[*]}")${PATH:+:${PATH}}"